{% extends "bootstrap/base.html" %}
{% block head %}
<head>
   <!-- meta tags not used in this project -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Page title -->
   <title>UploadCSV: uploadcsv.com</title>
   <!-- Latest compiled and minified CSS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <!-- favicon is in static folder; href points to a "variable" defined by curly braces. -->
   <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <!-- Custom styles in main.css -->
   <!-- main.css is in static folder; href points to a "variable" defined by curly braces. -->
   <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link href="{{ url_for('static', filename='css/jquery-3.3.1.min.js') }}" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
   <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
   <script>
   $(document).ready(function() {
       $(function() {
           $('[data-toggle="popover"]').popover()
       })

       $("#button").click(function(e) {
           console.log("click!")
           e.preventDefault();
           $.ajax({
               data: new FormData($('#upload')[0]),
               type: 'POST',
               url: '/uploadcsv',
               cache: false,
               processData: false,
               contentType: false,
               success: function(d) {
                   $("#firsthead").html(d.head_table);
               }
           });
       });

       $("#demo_btn").click(function(e) {
           e.preventDefault();
           $.ajax({
               type: 'GET',
               url: '/demo',
               success: function() {
                   console.log('demo started');
               }
           })
       });
   });
 </script>
</head>
{% endblock %}
{% block content %}
<div class="container">
   </br>
   <div class="page-header">
      <div class="container">
         <div class="">
            <a href="/demo" style="text-decoration:none">
               <div id="jumbo_top" class="jumbotron " style="overflow-x:scroll; overflow-y:scroll; white-space: nowrap;">
                  <h1>Upload CSV</h1>
                  <h3>Importing Membership Data from a CSV File</h3>
               </div>
            </a>
         </div>
         <div class="">
            <div class="row">
               <div class="col-sm-6">
                  <div id="jumbo_upload" class="jumbotron" style="overflow-x:scroll; overflow-y:scroll; white-space: nowrap;">
                     <h2>Upload <button type="button" class="btn btn-sm btn-secondary" data-toggle="popover" title="Upload Disabled" data-content="Upload has been disabled to ensure a good user experience.  Click on the Demo button to explore the site."><i>i</i></button></h2>
                     <form id="upload" name="form_upload" enctype="multipart/form-data" method="post" action="/uploadcsv">
                        <div class="col">
                           <input type="file" name="data_file">
                           <button id="btn_upload" type="submit" class="btn btn-lg btn-primary"  >Upload</button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div id="jumbo_upload" class="jumbotron" style="overflow-x:scroll; white-space: nowrap;">
                     <h2>Demo Mode <button type="button" class="btn btn-sm btn-secondary" data-toggle="popover" title="Click Demo" data-content="The upload function has been disabled - click on the Demo button to start."><i>i</i></button></h2>
                     <div>
                        <form action="/demo">
                           <div class="col">
                              </br>
                              <button type="submit" class="btn btn-lg btn-primary">Demo</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="">
               <div id="jumbo" class="jumbotron" style="overflow-x:scroll">
                  <h2>About </h2>
                  <div class="myText">
                     This is a personal project to create a web app that allows someone to upload different csv files with registration details (eg name, contact details etc) and import into a fixed format database.
                     </br>
                     </br>
                     This could be useful for a company that receives lists of customers or members in different csv structures and needs to enter this data into their own database.
                     </br>
                     </br>
                     Note that the web app is intended as a conceptual project rather than a commercial product. It aims to showcase the programmer's skillset of data management and web dev.
                     </br>
                     </br>
                     The web app offers the following functionality:
                     </br>
                     <ul>
                        <li>upload csv files</li>
                        <li>view initial rows (equivalent to df.head() in pandas)</li>
                        <li>match columns with predefined field names</li>
                        <li>view same initial rows for only those columns matched to the predefined field names</li>
                        <li>download the data in the new format as a csv file</li>
                        <li>demo mode with preloaded csv file</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="">
               <div id="jumbo" class="jumbotron" style="overflow-x:scroll; overflow-y:scroll; white-space: nowrap;">
                  <h2>Stack and Technologies </h2>
                  <div class="myText">
                     Frontend:
                     <ul>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>Bootstrap</li>
                        <li>HTML</li>
                        <li>CSS</li>
                     </ul>
                     Backend:
                     <ul>
                        <li>Python</li>
                        <li>Flask</li>
                        <li>Jinja2</li>
                        <li>AWS (EC2, 53 Route)</li>
                        <li>Numpy</li>
                        <li>Pandas</li>
                     </ul>
                     Click on the GitHub logo below to explore the code.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<footer class="footer">
   <div class="container" align="center">
      <a href="https://github.com/howardvickers/uploadcsv" class="btn btn-social-icon btn-github btn-small"><i class="fa fa-github fa-3x"></i></a>
      <a href="https://linkedin.com/in/howardvickers/" class="btn btn-social-icon btn-linkedin btn-small"><i class="fa fa-linkedin fa-3x"></i></a>
      </p>
   </div>
</footer>
{% endblock %}
{% block scripts %}
{{super()}}
{% endblock %}
